:root {
  --font-family: 'Montserrat',sans-serif;
  --background-color: #f4f4f4;
  --white: white;
  --black: #000000;
  --gray: #CCCCCC;
  --light-gray: #f4f3f3;
  --red: #ff4d4d;
  --shadow: 0 0 10px rgba(0,0,0,0.1);
  --border-radius: 8px;
  --button-hover-shadow: 0 4px 8px rgba(0,0,0,0.2);
  --button-diameter: 36px;
  --button-border-radius: 10px;
  --tooltip-font-size: 12px;
  --tooltip-padding: 7px;
  --tooltip-offset: 8px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--button-hover-shadow);
}

.copy {
  --button-bg: var(--black);
  --button-hover-bg: var(--black);
  --button-text-color: var(--gray);
  --button-hover-text-color: var(--white);
  --button-outline-color: var(--white);
  --tooltip-bg: var(--light-gray);
  --tootip-text-color: rgb(50,50,50);
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.3s ease;
}

.checkmark {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copy.copied .checkmark {
  display: block;
  opacity: 1;
}

.copy:hover,.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: 1px solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}

.delete-button {
  margin-left: 10px;
  padding: 4px 10px;
  background: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#error-message {
  display: none;
  background: var(--red);
  color: var(--white);
  padding: 10px;
  border-radius: var(--border-radius);
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

#error-message.show {
  display: block;
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-5px);
  }

to {
      opacity: 1;
      transform: translateY(0);
  }

}

.wifi-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wifi-button:hover {
  background-color: #333;
}

.wifi-button i {
  font-size: 20px;
  color: var(--white);
}

.language-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.language-toggle:hover {
  background-color: #333;
}

.language-toggle i {
  font-size: 20px;
  color: var(--white);
}

.bx {
  color: black;
}